.paper {

 flex-direction: 'column';

 background-color: #ffffffc2;
 border-radius: 3%;
 padding: 20px;
 /* opacity: 0.9; */
 /* margin-bottom: 50px;
 margin-top:150px; */
 /* display: flex;
 justify-content: space-around;
 align-items: center;
 align-content: center; */
}

.title {
    padding: 10%;
    color: rgba(80, 58, 48, 0.973);
}

.logincontainer{
 margin-top: 70px;
}