.navbar {
  color: transparent;
align-content: left;
text-align: left; 
}

.navbar-brand {
text-align: center;  
text-decoration: none;
font: 1em sans-serif;  
}

/* .navbar-dropdown{
 font: 100px;
 color: white;
}
 */
.navbar-nav{
  display: flex;
}
.nav-link{
  text-decoration: none;
  color: white;
  padding-left: 40px;
  align-content: center;
  display: flex;

}