.navbar {
  color: transparent;

}

.navbar-brand {
text-align: center;  
text-decoration: none;
font: 1em sans-serif;  
}

/* .navbar-dropdown{
 font: 100px;
 color: white;
}
 */
.navbar-nav{
  display: flex;
}
.nav-link{
  text-decoration: none;
  color: white;
}