body{
  /* background: black; */
  background-image: url(../src/images/beans.jpg); 
  /* opacity: ; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'josefin sans';
  font-weight: 400;
  /* background: linear-gradient(137deg, #946131, #CD9461); */
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


  

  /* -webkit-animation: bgAnimation 20s ease infinite;
  -moz-animation: bgAnimation 20s ease infinite;
  animation: bgAnimation 20s ease infinite; */
  @-webkit-keyframes bgAnimation {
      0%{background-position:22% 0%}
      50%{background-position:79% 100%}
      100%{background-position:22% 0%}
  }
  @-moz-keyframes bgAnimation {
      0%{background-position:22% 0%}
      50%{background-position:79% 100%}
      100%{background-position:22% 0%}
  }
  @keyframes bgAnimation { 
      0%{background-position:22% 0%}
      50%{background-position:79% 100%}
      100%{background-position:22% 0%}
  }

.App {
  text-align: center;
  /* background-image: url(../src/images/beans.jpg); */
  background-image: url(../src/images/beans.jpg); 
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header{
  padding: 50px;
  text-align: center;
  color:white;
  font: 4em sans-serif;
  font-family: 'josefin sans';
  font-weight: 700i;
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000)  both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000)  both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  color: white;
}