body {
    color: white;
}

label {
    color: white;
}

#search {
    width: 25rem;
}

.finder {
    background-color: white
}

.form-check-label{
    margin: .5rem;
}

.loco-search {
    margin: .5rem;
}