body {
    color: white;
}

label {
    color: white;
}

#search {
    width: 25rem;
}

.finder {
    background-color: white
}

.form-check-label{
    margin: .5rem;
    font-size: 18px;
    font-weight:bold; 

}

.loco-search {
    margin: .5rem;
}
.shopstitle{
    padding-top: 25px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 45px;
    font-weight: bold; 
    -webkit-animation: tracking-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: tracking-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }