.background1{
    background-image: url("../images/coffee-shop-blur1.jpg");
 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.background2{
    background-image: url("../images/coffee-shop-blur1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.backgroundhome {
    background-image: url(../images/orangecup.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Shadows Into Light', cursive;
    height: 990px;
}
.barisso{
color: white;
font-size: 120px;
align-items: right;
margin-left: 40rem;
/* padding-bottom: 10px; */
}

/* Large desktop */
@media (min-width: 1200px) {
     /* ...  */
    }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
        .barisso {
            margin-left: 20rem;
            font-size: 80px;
        }
    }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
        .barisso {
            margin-left: 10rem;
            font-size: 80px;
        }
    }

/* Landscape phones and down */
@media (max-width: 480px) {
        .barisso {
            margin-left: 0rem;
            font-size: 80px;
        }
    }

.drinksheader{
    font-family: 'Shadows Into Light', cursive;
    font-size: 90px;

}