label {
    font-size: 1.5rem;

    display: center;
    color: white;
    /* padding: 15px; */
    font-family: 'josefin sans';
    font-weight: 400;
    margin-top: 100px;
}
.title{
    font-size: 2rem;
    display: center;
    color: white;
    /* padding: 15px; */
    font-family: 'josefin sans';
    font-weight: 700i;
    margin-bottom: 90px;
}
.username{
    margin-top: 100px;
}

.password, .username {
   
    display: center;
    color: white;
    /* padding: 15px; */
    font-family: 'josefin sans';
    font-weight: 400;
    margin-top: 50px;
 

}
.forgotpassword{
    display: center;
    size: 30px;
    margin-top: 130px;
background: transparent;
padding: 10px;
font-size: bold;
color: lightgray;

}
.loginbtn {
    display: center;
    size: 50px;
    width: 100px;
    margin-top: 50px;
background: turquoise;
border: 2px solid lightgrey;
padding: 10px;
font-size: bold;
border-radius: 25px;


}
input{
    color: lightgray;
 
}

input[type=text], [type="password"]{
    border: none;
    height: 3em;;
    background-color: transparent;
    border-radius:25px;
    border: 2px solid lightgrey;
    padding-left: 15px;
    margin-left: 15px;
  }
 
form {
    /* background-image: url(https://images.unsplash.com/photo-1511920170033-f8396924c348?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80); */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 4px 4px 24px 1px turquoise;
    display: inline-block;
border-radius: 7%;
    /* margin: 150px; */
border: 2px solid turquoise;

}
img{
    position: relative;
    
}