body {
    color: white;
}

li {
    color: white;
}


.fave {
    color: rgb(241,85,32);
    font-size: large;
}

.starry {
    color: white
}

.ban {
    color: black;
    font-size: large;
}

.trash {
    color: white
}
.list-group {
    color: white;
    font-family: 'Shadows Into Light', cursive;
    /* font-size: 20px; */
}

.ban-item {
    color: white;
    font-family: 'Shadows Into Light', cursive;
    /* font-size: 20px; */

}

.starry:hover, .starry:active, .fave:hover, .fave:active, .dump:hover, .dump:active{
    cursor: pointer;
}

.background4{
    background-image: url("../../images/blackboard.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: fit-content;
    min-height: 20rem;
    /* margin: 0 20rem 5rem 20rem; */
    margin: 0 20% 0 20%;
    /* max-width: 70rem; */
    padding: 1rem 0 1rem 0;
  }

  @media (max-width: 480px) {
        .background4 {
            margin: 0 5% 0 5%;
        }
    }