.milk {
    background-color: rgb(243, 243, 243);
    text-align: center;
    vertical-align: middle;
    margin: 0;
    color: black;
    height: 5rem;
    line-height: 5rem;
    width: 20rem;
    position: relative !important;
    z-index: 5 !important;
    vertical-align: bottom;
	-webkit-animation: ingredient 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: ingredient 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* Landscape phones and down */
@media (max-width: 768px) {
    .milk {
        font-size: 13px;
    }
}