body {
    color: white;
}

li {
    color: white;
}
.list-group{
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}
.list-group-item{
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}