body {
    color: white;
}

li {
    color: white;
}


.fave {
    color: darkorange;
    font-size: large;
}

.starry {
    color: white
}

.starry:hover, .starry:active, .fave:hover, .fave:active, .dump:hover, .dump:active{
  cursor: pointer;
}



.ban {
    color: black;
    font-size: large;
}

.trash {
    color: white
}
.list-group {
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}

.list-group-item {
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
 
    -webkit-animation: shadow-drop-2-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.cardcontent{
  border-style: solid;
  border-color: #2c324e00;
  border-width: 9px;
  box-shadow: -2px 44px 38px 16px rgba(117, 104, 104, 0.68);
  -webkit-animation: shadow-drop-2-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: shadow-drop-2-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
.shop-name{
    position: relative;
    font-weight: bold;
}
.shop-rating{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/**
 * ----------------------------------------
 * animation shadow-drop-2-top
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-drop-2-top {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px) translateY(12px);
              transform: translateZ(50px) translateY(12px);
      box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-2-top {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px) translateY(12px);
              transform: translateZ(50px) translateY(12px);
      box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
  